extends /layouts/application.pug

block content
  h1 Task Statuses
  table.table.table-stripped.mb-5
    thead
      tr
        th.taskstatuses-ID ID
        th Name
    tbody
      each status in statuses
        tr
          td= status.id
          td
            if isSignedIn()
              a(href=urlFor('taskstatus', status.id))= status.name
            else
              = status.name

  if isSignedIn()
    a.btn.btn-success.mt-4(href=urlFor('newTaskStatus')) Create Task Status
