extends /layouts/application.pug

block content

  h1= `Task Status "${f.object._name}"`
    =' '
    small.text-muted (edit status)

  +formFor(f, { url: urlFor('taskstatuses'), method: 'put' })
    +input(f, '_id', { as: 'hidden' }, f.object.id)
    +input(f, '_name', { as: 'hidden' }, f.object.name)
    +input(f, 'name')
    +button(f, 'Edit Task Status', 'btn btn-warning mt-3 mb-3')

  +formFor(f, { url: urlFor('taskstatuses'), method: 'delete', clss: 'mt-5' })
    +input(f, '_id', { as: 'hidden' })
    +button(f, 'Delete Task Status', 'btn btn-danger')