extends /layouts/application.pug

block content
  h1 Users
  table.table.table-stripped.mb-5
    thead
      tr
        th Full Name
        th Email
        th Created At
    tbody
      each user in res.rows
        tr
          td= user.fullName
          td= user.email
          td= user.createdAt

  include /includes/pagination.pug
