extends /layouts/application.pug

block content

  h1= currentUser.fullName
    =' '
    small.text-muted (edit profile)

  +formFor(f, { url: urlFor('users'), method: 'put' })
    include inputs.pug
    +button(f, 'Edit profile', 'btn btn-warning mt-3 mb-3')

  +formFor(f, { url: urlFor('users'), method: 'delete', clss: 'mt-5', confirm: 'Are you sure you want to delete Profile?' })
    +button(f, 'Delete profile', 'btn btn-danger')